html
{
  font-size: 90%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.newCell {
  width: 70px;
}

.input {
  width: 100%;
}

td {
  background: f2f2f2;
}

table {
  margin: 0;
  border-collapse: collapse;
}

#title{
  margin: 5px;
  border-width: 2px;
  width: 100px;
}

.columnTitle {
  margin-bottom: 0;
}

.jumbotron {
  margin-right: 75%;
}

table, td, th {    
  border: 1px solid #ddd;
  text-align: left;
}

tr:nth-child(even){
  background-color: #f2f2f2
}

th{
  width: 40px;
  padding: 5px;
  background-color: rgb(236, 226, 117);
  color:black;
}

.indexCell {
  width: 20px;
  background: #f2f2f2;
}

.head {
  font-size: 250%;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.error {
  border-color: rgb(228, 49, 49);
  width: 100%;
}

.field-type {
  font-size: 25px;
  text-align: center;
}

.mySelect {
  margin-left: 20px;
  margin-top: 4px;
  height: 28px;
  width: 100px;
}

.myInput {
  width: 90px;
}

.required {
  width: 80px;
}